<%if(!request_session_name){%>
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="./js/index.js"></script>
    <title>Welcome to INDEX</title>
  </head>

  <body>
    <header>
      <div id="top_header">
        <div><img src="./img/logo.png" alt="이미지가 없습니다." id="logo"></div>
        <div id="header_title" onclick="title_onclick()">SIGNATURE</div>
        <div id="account">
          <button onclick="login_btn_click()" class="account" id="sign_in">SIGN IN</button>
          <button onclick="register_btn_click()" class="account" id="sign_up">SIGN UP</button>
        </div>
      </div>
      <div id="navigator">
        <button class="menu" id="upload" onclick="upload_onclick()">커뮤니티</button>
        <button class="menu">기능 구현</button>
      </div>
    </header>
    <main>
      <div id="table_contents">
        <table>
          <tr>
            <th>TITLE</th>
            <th>CONTENT</th>
            <th>WRITER</th>
          </tr>
          <%for(var i = 0; i<post.length; i++){%>
          <%var data = post[i];%>
          <tr>
            <td class="content"><%=data.title%></td>
            <td class="content"><%=data.content%></td>
            <td class="content"><%=data.writer%></td>
          </tr>
          <%}%>
        </table>
      </div>
      <div id="search">
        <input id="search_bar" placeholder="검색 내용"></input>
        <br>
        <button id="search_bar_btn">검색</button>
      </div>
      <div id="TODO">
        <textarea>
          # 에러 상태 : 에러 수정 필요 없음
          # 작업 상태
          &nbsp;&nbsp;- 커뮤니티 페이지 렌더링 작업 필요
          &nbsp;&nbsp;&nbsp;&nbsp;* 검색 기능 및 조회 시 작성 날짜, 작성자 렌더링
          &nbsp;&nbsp;&nbsp;&nbsp;* 비회원 조회 시 불가능
          &nbsp;&nbsp;- 계정 부분 작업 필요
          &nbsp;&nbsp;&nbsp;&nbsp;* 세션을 이용하여 유효 시간동안 로그인
          &nbsp;&nbsp;&nbsp;&nbsp;* 회원과 비회원 차별성
      </textarea>
      </div>
    </main>
  </body>
</html>
<%}%>


          <%if(request_session_name){%>
          <!DOCTYPE html>
          <html lang="ko">

            <head>
              <meta charset="UTF-8" />
              <link rel="stylesheet" href="./css/index.css">
              <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
              <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
              <script src="./js/index.js"></script>
              <title>Welcome to INDEX</title>
            </head>

            <body>
              <header>
                <div id="top_header">
                  <div><img src="./img/logo.png" alt="이미지가 없습니다." id="logo"></div>
                  <div id="header_title" onclick="title_onclick()">SIGNATURE</div>
                  <div id="account">
                    <button onclick="sign_out_onclick()" class="account" id="sign_in">SIGN OUT</button>
                    <!-- <button onclick="register_btn_click()" class="account" id="sign_up">SIGN UP</button> -->
                  </div>
                </div>
                <div id="navigator">
                  <button class="menu" id="upload" onclick="upload_onclick()">커뮤니티</button>
                  <button class="menu">기능 구현</button>
                </div>
              </header>
              <main>
                <div id="table_contents">
                  <table>
                    <tr>
                      <th>TITLE</th>
                      <th>CONTENT</th>
                      <th>WRITER</th>
                    </tr>
                    <%for(var i = 0; i<post.length; i++){%>
                    <%var data = post[i];%>
                    <tr>
                      <td class="content"><%=data.title%></td>
                      <td class="content"><%=data.content%></td>
                      <td class="content"><%=data.writer%></td>
                    </tr>
                    <%}%>
                  </table>
                </div>
                <div id="search">
                  <input id="search_bar" placeholder="검색 내용"></input>
                  <br>
                  <button id="search_bar_btn">검색</button>
                </div>
                <div id="TODO">
                  <textarea>
                    # 에러 상태 : 에러 수정 필요 없음
                    # 작업 상태
                    &nbsp;&nbsp;- 커뮤니티 페이지 렌더링 작업 필요
                    &nbsp;&nbsp;&nbsp;&nbsp;* 검색 기능 및 조회 시 작성 날짜, 작성자 렌더링
                    &nbsp;&nbsp;&nbsp;&nbsp;* 비회원 조회 시 불가능
                    &nbsp;&nbsp;- 계정 부분 작업 필요
                    &nbsp;&nbsp;&nbsp;&nbsp;* 세션을 이용하여 유효 시간동안 로그인
                    &nbsp;&nbsp;&nbsp;&nbsp;* 회원과 비회원 차별성
                </textarea>
                </div>
              </main>
            </body>
          </html>
          <%}%>
